.Pagination {
  display: flex;
  justify-content: end;
}
.current {
  padding: 5px;
  color: white;
  background-color: #0087e9;
}
.page {
  padding: 5px;
}
li {
  margin: 10px 0;
  list-style-type: none;
}
